<%= form_with(model: [movie, review], local: true) do |f| %>
  <%= render "shared/errors", object: review %>

  <%= f.label :stars %>
  <% Review::STARS.each do |star| %>
    <span class="star">
      <%= f.radio_button :stars, star %>
      <%= label_tag star %>
      <%#=  render("shared/stars", percent: (star / 5.0) * 100) %>
    </span>
  <% end %>

  <%# f.select :stars, Review::STARS, prompt: "Pick one" %>

  <%= f.label :comment %>
  <%= f.text_area :comment, placeholder: "What did you think?" %>

  <%= f.submit "Post Review" %>
<% end %>